<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="item-table">
    <thead>
      <tr>
        <th>Transaction date</th>
        <th>Description</th>
        <th>Debit</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <tr>
        <td><%= form.date_select :transaction_date, id: :item_transaction_date %></td>
        <td><%= form.text_field :description, id: :item_description %></td>
        <td><%= form.check_box :debit, id: :item_debit %></td>
        <td><%= form.text_field :amount, id: :item_amount %></td>
        <td><%= form.text_field :category, id: :item_category %></td>
        <% #awesomeplete or datalist-polyfill %>
        <td><%= form.text_field :subcategory, id: :item_subcategory %></td>
        <td><div class="actions"><%= form.submit %></div></td>
      </tr>
    </tbody>
  </table>

<% end %>
