<p id="notice"><%= notice %></p>

<h1 class="center">Bookkeeper</h1>

<div class="transaction-grid grid-container">
  <div class="label">Transaction date</div>
  <div class="label">Description</div>
  <div class="label">Income</div>
  <div class="label">Expense</div>
  <div class="label">Category</div>
  <div class="label">Subcategory</div>
  <div class="label"></div>
  <% @items.each do |item| %>
    <div><%= item.transaction_date %></div>
    <div><%= item.description %></div>
    <div>
      <% if item.debit %>
        <%= number_to_currency(item.amount) %>
      <% end %>
    </div>
    <div>
      <% if !item.debit %>
        -<%= number_to_currency(item.amount) %>
      <% end %>
    </div>
    <div><%= item.category %></div>
    <div><%= item.subcategory %></div>
    <%= link_to 'Edit', edit_item_path(item) %>
  <% end %>
</div>

<div class="total-grid grid-container">
  <div class="label">Total Income</div>
  <div class="label">Total Expense</div>
  <div class="label">Net</div>
  <div><%= number_to_currency @debitTotal %></div>
  <div>-<%= number_to_currency @creditTotal %></div>
  <div><%= number_to_currency (@debitTotal - @creditTotal) %></div>
</div>

<br>

<%= link_to 'New Item', new_item_path %>
