<p id="notice"><%= notice %></p>

<h1 class="center">Bookkeeper</h1>

<!-- Add search function with date range-->
<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <% if params[:start_date] %>
    <% start_date = params[:start_date] %>
    <% end_date = params[:end_date] %>
  <% else %>
    <% start_date = Date.today %>
    <% end_date = Date.today %>
  <% end %>
  <%= text_field_tag :start_date, nil, id: :start_date, value: start_date, class:"flatpickr flatpickr-input", readonly:"readonly" %>
  to
  <%= text_field_tag :end_date, nil, id: :end_date, value: end_date, class:"flatpickr flatpickr-input", readonly:"readonly" %>
  <%= submit_tag("Search") %>
<% end %>


<div class="transaction-grid grid-container">
  <div class="label">Transaction date</div>
  <div class="label">Description</div>
  <div class="label">Income</div>
  <div class="label">Expense</div>
  <div class="label">Category</div>
  <div class="label">Subcategory</div>
  <div class="label"></div>
  <% @items.each do |item| %>
    <div><%= item.transaction_date %></div>
    <div><%= item.description %></div>
    <div>
      <% if item.debit %>
        <%= number_to_currency(item.amount) %>
      <% end %>
    </div>
    <div>
      <% if !item.debit %>
        -<%= number_to_currency(item.amount) %>
      <% end %>
    </div>
    <div><%= item.category %></div>
    <div><%= item.subcategory %></div>
    <%= link_to 'Edit', edit_item_path(item) %>
  <% end %>
  <%= link_to 'Add New Transaction', new_item_path, class: "row-button" %>
  <% if params[:start_date] %>
    <%= link_to 'Return', items_path, class: "row-button" %>
  <% end %>
</div>

<div class="total-grid grid-container">
  <div class="label">Total Income</div>
  <div class="label">Total Expense</div>
  <div class="label">Net</div>
  <div><%= number_to_currency @debitTotal %></div>
  <div>-<%= number_to_currency @creditTotal %></div>
  <div><%= number_to_currency (@debitTotal - @creditTotal) %></div>
</div>

<br>


