<nav class="navbar">
  <a href="/" id="logo">Bookkeeper</a>
  <button id="search-drop" class="material-icons right">search</button>
</nav>


<div id="search-bar">
  <%= form_tag("/items", method: "get") do %>
    <div class="grid-container search-grid">
      <%= select_tag :search_choice, options_for_select([ ["Search by", ""], ["date range", "date_range"], ["last week", "last_week"], ["view month", "view_month"] ], "Search by") %>
      <% if params[:start_date] %>
        <% start_date = params[:start_date] %>
        <% end_date = params[:end_date] %>
      <% else %>
        <% start_date = Date.today %>
        <% end_date = Date.today %>
      <% end %>
      <%= select_tag :filter_list, options_from_collection_for_select(@categories, "category", "category"), include_blank: "Filter by" %>
      <%= text_field_tag :start_date, nil, id: :start_date, value: start_date, class:"flatpickr flatpickr-input select_range", readonly:"readonly" %>
      <%= text_field_tag :end_date, nil, id: :end_date, value: end_date, class:"flatpickr flatpickr-input select_range", readonly:"readonly" %>
      <div id="select_week" class="hidden-item">
        <%= check_box_tag :last_week, id: :last_week %>
      </div>
      <%= check_box_tag :check_month, id: :check_month %>
      <%= select_tag :month_list, options_for_select(@months, @months[0]), class: "hidden-item row" %>
      <%= submit_tag "Search", class:"row-button" %>
    </div>
  <% end %>
</div>
